/* *************Custom Property************* */
:root{
    --first-color: #0a81d1;
    --second-color: #35a7ff;
    --second-alpha-color: rgba(53, 167, 255, .5);
    --third-color: #f0e100;

    --grey-color: #373737;
    --bg-dark-color: #1d1b1c;
    --bg-light-color: #fafffd;
    --black-color: #202020;
    --white-color: #fafafa;
}
/* *************Reset************* */
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
img, video, audio, iframe{
    max-width: 100%;
}
/* *************Utilities************* */

/* *************Site Style************* */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-light-color);
}
.nav-a-dk{
    display: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    transition: .5s ease;
    box-shadow: 0 1px 10px -5px #0009;
    z-index: 1000;
    /* border-bottom: 1px solid var(--bg-dark-color); */
}
.headerDown{
    height: 45px;
    background-color: var(--bg-dark-color);
    color: var(--white-color);
}
.header-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    padding: 0 1rem;
    font-size: 1.5rem;
    transition: padding .5s ease;
}
.headerDown .header-content{
    padding: 0 .5rem;
}
.logo{
    font-weight: bold;
    color: var(--first-color);
    letter-spacing: 2px;
}
.logo-kev{
    color: var(--black-color);
}
.headerDown .logo-kev{
    color: var(--white-color);
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}



.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: var(--second-color);
    clip-path: polygon(0 0, 100% 0, 100% 94%, 50% 99%, 0 94%);
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
    max-width: 500px;
}
.banner-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.banner-text h1{
    font-size: clamp(2.3rem, 5vw, 5rem);
}
.banner-text p{
    font-size: clamp(1rem, 5vw, 1.5rem);
}






.main{
    margin-top: 50px;
}
.section{
    margin: 3rem auto;
    padding: 0 .5rem;
    max-width: 1000px;
}


.portfolio{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    gap: 1rem;
}
.card-container{
    position: relative;
    /* background-image: url(assets/banner-img.svg);
    background-size: 500px;
    background-position: center center; */
    
}
.card{
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--second-alpha-color);
    backdrop-filter: blur(5px);
}
.card img{
    height: 100px;
}


