/* *************Custom Property************* */
:root{
    /* --first-color: #0a81d1;
    --first-alpha-color: #0a81d180; */
    --first-color: #35a7ff;
    --first-alpha-color: #35a7ff80;
    --third-color: #f0e100;
    --third-alpha-color: #f0e10080;

    
    --bg-dark-color: #202020;
    --bg-light-color: #fafffd;
    --bg-card-color: #dee2e6;
    
    
    --grey-color: #373737;
    --black-color: #101010;
    --black-dark-alpha-color: rgba(16, 16, 16, 0.65);
    --black-light-alpha-color: rgba(16, 16, 16, .3);
    --white-color: #fafafa;
    --white-dark-alpha-color: rgba(250, 250, 250, 0.65);
    --white-light-alpha-color: rgba(250, 250, 250, 0.3);
}
/* *************Reset************* */
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
img, video, audio, iframe{
    max-width: 100%;
}
/* *************Utilities************* */
.color{
    color: var(--first-color);
}
/* *************Site Style************* */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-light-color);
    color: var(--black-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    box-shadow: 0 2px 10px -5px var(--black-color);
    color: var(--white-color);
    transition: .5s ease;
    z-index: 1000;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 0 1rem;
    font-size: 1.5rem;
    transition: padding .5s ease;
}
.logo{
    font-weight: bold;
    color: var(--first-color);
}
.logo-kev{
    padding: 0 3px;
    letter-spacing: 1spx;
    color: var(--white-color);
    transition: .5s ease;
}
.nav{
    display: flex;
     justify-content: center;
     align-items: center;
     gap: 2.5rem;
}
.nav span{
    display: none;
}

.headerDown{
    height: 45px;
    background-color: var(--bg-light-color);
    color: var(--black-color);
}
.headerDown .header-content{
    padding: 0 .5rem;
}
.headerDown .logo-kev{
    color: var(--black-color);
}




.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: .7rem;
    background-image: url(assets/banner-bg.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #0005;
    background-blend-mode: soft-light;
    color: var(--white-color);
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 650px;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 5px -5px #fff, -2px -2px 5px -5px #fff;
    /* background-color: var(--first-alpha-color); */
    backdrop-filter: blur(6px);
}
.banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
}
.banner-text p:first-child{
    font-size: clamp(2rem, 5vw, 5rem);
    color: var(--white-dark-alpha-color);
}
.banner-text h1{
    font-size: clamp(2rem, 5vw, 5rem);
}
.banner-text p:last-child{
    font-size: clamp(1.1rem, 5vw, 1.3rem);
    color: var(--white-dark-alpha-color);
}










.main{
    max-width: 1000px;
    margin: 0 auto;
}
.main section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem 0 4rem;
    padding: 0 .5rem;
}
.main h2{
    position: relative;
    align-self: center;
    width: max-content;
    padding: 0 .5rem;
    text-align: center;
}
.main h2::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 6px;
    background-color: var(--first-color);
}
.main p, .main span{
    color: var(--black-dark-alpha-color);
}
.main span{
    margin-top: 1rem;

}



.about-kev{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.about-subtitle{
    font-weight: bold;
}
.about h3{
    font-size: 1.3rem;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.skills-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: .5rem;
    background-color: var(--bg-card-color);
    color: var(--first-color);
    transition: .5s ease;
}
.skills i{
    font-size: 2rem;
}
.skills:hover{
    background-color: var(--first-color);
    color: var(--white-color);
    transform: scale(1.1);
    z-index: 1;
}



.container-services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 200px;
    gap: .4rem;
    padding: 0 .5rem;
 
}
.service{
    display: grid;
    grid-template-rows: 3rem 3rem 3rem;
    justify-content: center;
    align-content: center;
    align-items: start;
    padding: 1rem 0;
    border-radius: .5rem;
    text-align: center;
    background-color: var(--bg-card-color);
    transition: .5s ease;
}
.service i{
    font-size: 3rem;
    color: var(--first-color);
}
.service h3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.service:hover{
    background-color: var(--first-color);
    transform: scale(1.03);
    z-index: 1;
}
.service:hover i{
    color: var(--white-color);
    transition: .5s ease;
}




.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: 1rem;
    background-color: var(--bg-card-color);
    overflow: hidden;
    transition: .3s ease;
}
/* .card-img{

} */
.card-img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    
}
.card-text{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 1rem;
}
.card-text h3{
    text-align: center;
    color: var(--first-color);
}
.card-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .1rem;
}
.card-btn a {
    flex-basis: 50%;
    padding: .5rem 0;
    text-align: center;
    font-weight: bold;
    color: var(--white-color);
    background-color: var(--first-color);
    transition: .5s ease;
}
.card-btn a:hover{
    color: var(--black-color);
    background-color: var(--white-color);
}
.card:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px 10px -5px var(--black-color), -2px -2px 10px -5px var(--black-color);
    z-index: 1;
}





.contact-social{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: .3rem;
}
.social{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    border-radius: .5rem;
    background-color: var(--bg-card-color);
    transition: .5s ease;
}
.social i{
    font-size: 2rem;
    color: var(--first-color);
    transition: .5s ease;
}
.social span{
    font-weight: bold;
    color: var(--black-color);
}
.social:hover{
    background-color: var(--first-color);
    transform: scale(1.05);
    z-index: 1;
}
.social:hover i{
    color: var(--white-color);
}



.foot{
    width: 100%;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--bg-dark-color);
    color: var(--white-color);
}
